/*
 * SPDX-FileCopyrightText: 2026 Modern Clock for GNOME Contributors
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

.modernclock-container {
    background: transparent;
}

.modernclock-day {
    font-family: Anurati, Cantarell, sans-serif;
    color: white;
    text-align: center;
}

.modernclock-date {
    font-family: Poppins, Cantarell, sans-serif;
    color: white;
    text-align: center;
}

.modernclock-time {
    font-family: Poppins, Cantarell, sans-serif;
    color: white;
    text-align: center;
}
